.img-circle {
    border-radius: 50%;
    width:128px;
    height:128px;
}

#cssTable td {text-align:center; vertical-align:middle;}




.users.table {
    width: 100%;
    background-color: grey;

}


.round{
    border-radius: 25px;
    border: 0px solid #73AD21;
    padding: 5px; 
    width: 200px;
    height: 50px; 
}
table {
    border:0px solid #CCC;
    border-collapse:collapse;
}

.default.background{
    background-color: grey;
}
.users.body {
    background-color: black;
  
}

.nickname.header {
    font-size: 200%;
    background-color: grey;
    color: navy;
}

.users.about {
    font-size: 120%;
    color: black;
    overflow-wrap: break-word;
  
}

.users.table {
    overflow-wrap: break-word;
    display: inline;
  
}

.toilet.body{
    background-color: green;
}
.toilet.h1 {
    color: navy;
    margin-left: 20px;
}

.blue {
    background-color: #0080FF;
}

.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}

.white {
    background-color: white;
}
.pink {
    background-color: #FF00FF;
}
.green {
    background-color: green;
}