<html>
  <head>
    <link rel="stylesheet" href='/static/styles.css' />  
    {% if title %}
    <title>{{ title }} - automation center</title>
    {% else %}
    <title>Welcome to Haagons home automation center</title>
    {% endif %}
  </head>
  <body>
    <div class="base header">Automation center: 
      <a href="{{ url_for('index') }}">Home</a>
      | <a href="{{ url_for('users') }}">Users</a>
      | <a href="{{ url_for('toilet') }}">Toalett</a>    
    </div>
    
    <hr>
     {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>