<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />   
    </head>

    <body class="toilet body">
        {% extends "base.html" %}
        {% block content %}
            <h1 class="toilet h1">Det er ledig på badet!! </h1>
        {% endblock %}

    </body>
</html>


<!--
        <form action="/hello/fname" method="get">
            First name: <input type="text" name="fname" value="test"><br>
            <button type="submit" value="Submit">Submit</button>
            <button type="reset" value="Reset">Reset</button>
        </form>
-->

